
.title{
    font-size: 16px;
    color: #616161; 
}
.recordstSection{
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ccc;
    border: 1px solid #ccc;
    @media (max-width:600px) {
       width:100%;
    }   
}
.recordTitles{
    font-size: 13px;
    color: #616161;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.recordTitles span{
    width:25%;
    display: flex;
    justify-content: center;
}
.patientName{
    font-size: 16px;
    font-weight: bold;
    padding: 30px;
    color:#42CB95;
}
    
.addNewRecord{
 background-color: #42CB95 !important;
width: 25%;
 height: 50px;
 border-radius: 15px;
 color: #fff !important;
 @media (max-width:768px) {
    font-size: small!important;
 }
 @media (max-width:450px) {
    font-size: xx-small!important;
 }
}
.recordModal{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.ModelContainer{
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
    width: 470px;
    position: relative;
    outline: none;
    border-radius: 4px ;
   
}
.innerContent{
    padding: 21px;
}
.modelCloseIcon{
    position: absolute;
    right: 0;
    
}