.reminderRoot{
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;

}
.reminderTitle{
    font-size: 16px !important;
    font-weight: bold;
}
.reminderText{
    font-size: 13px !important;
    color: #616161; 
}