.loginRoot{
 width:80%;
 @media (max-width:768px) {
    width: 130%;
 }

}
.loginInput{
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;


}
.signinSection{
    display: flex;
    justify-content: center;
}
.signInButton{
 background-color:#05abc0 !important;
 width: 50%;
 color: #fff !important;
 height: 60px;
 border-radius: 15px !important;
 font-size: 20px !important;
 @media (max-width:768px) {
    width: 80%;
    font-size: 15px !important;
 }
}