.medicalRecordRoot{
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;  
    justify-content: space-between;
    font-size: 13px;
    

}
.sections{
    width:25%;
    display: flex;
    justify-content: center;
}
